<h1>Productos</h1>

{{#each products}}
  <div>
    <h2>{{this.description}}</h2>
    <p>Título: {{this.title}}</p>
    <p>Precio: {{this.price}}</p>
    <button>Agregar al carrito</button>
  </div>
  <br><br>
{{/each}}

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Prev</button></a>
  {{else}}
    <button disabled>Prev</button>
  {{/if}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Next</button></a>
  {{else}}
    <button class="btnPageDisabled" disabled>Next</button>
  {{/if}}
</div>

<script>
  function addToCart(productId) { // Aquí puedes implementar la lógica para
  agregar el producto al carrito console.log('Agregando producto al carrito:',
  productId); }
</script>