<h1>Productos</h1>

{{#if user}}

  <div>
    <h2>Welcome to elKunfuteca, {{user.name}}!</h2>
    <p>This is your registered email: {{user.email}}</p>
    <p><b>You are a golden {{user.role}}.</b></p>
    <p>Hurry up! {{user.name}} Kunfuteca can't wait for you!</p>
    <p>Your cart ID: {{user.cart._id}}</p>
  </div>

  <a href="/api/sessions/logout"><button>Logout</button></a>
  <br /><br />

{{/if}}
{{#each products}}
  <div>
    <h3>{{this.description}}</h3>
    <small>{{this._id}}</small>
    <p>category: {{this.category}}</p>
    <p>price: {{this.price}}</p>
    <button>Add to cart</button>
  </div>
  <br /><br />
{{/each}}

<div class="btnProductsPages">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Prev</button></a>
  {{else}}
    <button disabled>Prev</button>
  {{/if}}
  {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Next</button></a>
  {{else}}
    <button class="btnPageDisabled" disabled>Next</button>
  {{/if}}
</div>

<!-- Add to cart -->
<script>
  function addToCart(productId, user.cart) { console.log('Agregando', productId,
  'al carrito:', user.cart); }
</script>