<h1>Productos</h1>
{{#each products}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Categoría: {{this.category}}</p>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
  </div>
{{/each}}

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Prev</button></a>
  {{else}}
    <button disabled>Prev</button>
  {{/if}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Next</button></a>
  {{else}}
    <button class="btnPageDisabled" disabled>Next</button>
  {{/if}}
</div>

<script>
  function addToCart(productId) { // Aquí puedes implementar la lógica para
  agregar el producto al carrito console.log('Agregando producto al carrito:',
  productId); }
</script>