<h1>Productos</h1>

{{#if user}}

  <div>
    <h2>Welcome to elKunfuteca, {{user.name}}!</h2>
    <p>This is your registered email: {{user.email}}</p>
    <p><b>You are a golden {{user.role}}!</b></p>
    <p>Hurry up! You are {{user.age}} and elKunfuteca can't wait for you!</p>
  </div>

  <a href="/api/sessions/logout"><button>Logout</button></a>
  <br /><br />

{{/if}}


{{#each products}}
  <div>
    <h2>{{this.description}}</h2>
    <p>Título: {{this.title}}</p>
    <p>Precio: {{this.price}}</p>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
  </div>
  <br /><br />
{{/each}}

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Prev</button></a>
  {{else}}
    <button disabled>Prev</button>
  {{/if}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Next</button></a>
  {{else}}
    <button class="btnPageDisabled" disabled>Next</button>
  {{/if}}
</div>

<!-- Add to cart -->
<script>
  function addToCart(productId) {
  console.log('Agregando producto al carrito:', productId); }
</script>